$app-text-color: white;
$bacgraud-card-color: rgb(51, 32, 32);



.pokemon-card {
  position: relative;
}

.pokemon-card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: $bacgraud-card-color;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  box-shadow: 0 20px 40px -14px rgb(156, 9, 9);
  width: 300px;
  min-height: 497px;
  position: relative;
  z-index: 2;
}
.pokemon-card__header {
  margin: 0 20px 10px 20px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: $app-text-color;
}

.pokemon-card__description {
  margin: 0 0 0 20px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $app-text-color;
}

.pokemon-card__image {
  width: 300px;
  height: 300px;
}

.pokemon-card__live-image {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100px;
  height: 100px;
  transition: 0.1s linear 0.1s;
  z-index: 2;
}

.pokemon-card__live-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
