$button-margin: 40px;

.pokemons-holder {
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.pokemons-holder__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pokemons-holder__button-container {
  margin-right: 20px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.pokemons-holder__nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  align-items: center;
}

.pokemons-holder__text {
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.pokemons-holder__button {
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 60px;
  border-radius: 44px;
  border: none;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1986EC;
  transition: opacity 0.1s linear 0.1s;
  opacity: 1;
}

.pokemons-holder__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pokemons-holder__input {
  border: none;
  border-radius: 10px;
  height: 30px;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  margin: 40px 10px 0 10px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1986EC;
  text-align: center;
}

.pokemons-holder__input:focus {
  outline: none;
  border: 3px solid #1986EC;
}

@media screen and (max-width: 750px) {
  .pokemons-holder {
    flex-direction: column-reverse;
  }

  .pokemons-holder__button-container {
    margin-right: 0;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  .pokemons-holder__button {
    height: 40px;
    font-size: 14px;
    padding: 0 10x 0 10px;
  }

  .pokemons-holder__text {
    font-size: 14px;
  }

}