@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.rotation {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.pulse {
  transform: scale(1);
  animation: pulse 2s ease-in-out infinite;
}

.preloader {
  position: absolute;
  bottom: 35px;
  right: 20px;
}

.preloader__shadow {
  margin: 0 auto 0 auto;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 15px 15px 4px rgb(0, 0, 0);
}

.preloader__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

