.button-pokemon {
  margin: 20px 0 0 10px;
  box-shadow: 0 20px 40px -14px rgb(35, 109, 194);
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  background: #1986EC;
  height: 60px;
  border-radius: 44px;
  border: none;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  transition: opacity 0.1s linear 0.1s;
  opacity: 1;
}

.button-pokemon:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 720px) {
  .button-pokemon {
    margin: 10px 0 0 5px;
    height: 40px;
    font-size: 14px;
    padding: 0 10x 0 10px;
  }
}